section {
    background-color: #6d7875;
    width: 800px;
    height: 800px;
}

div {
    background-color: #e5989b;
    width: 50%;
    height: 50%;
}

h2 {
    font-size: 5em;
    margin-left: 1em;
}

p {
    font-size: 0.8em;
}

article {
    font-size: 10px;
}

button {
    font-size: 1em;
    padding: 0.5em;
    border-radius: 0.5em;
}